<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Paito - reactjs admin template</title>
    <!-- Favicon icon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link
      href="assets/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" type="text/css" media="all" />
  </head>
  <body>
    <div class="body-wrapper container-fluid p-0">
      <!-- nav area -->
      <div class="nav-wrapper">
        <div class="logo-wrapper">
          <h1 class="logo-title">
            Paito - reactjs admin template
          </h1>
        </div>
        <div class="navigation" id="nav">
          <div class="nav-item active">
            <a class="nav-list-item"><i class="fa fa-play"></i>Get started</a>
            <div class="sub-nav">
              <a class="sub-nav-item active" href="#introduction"
                >Introduction</a
              >
              <a class="sub-nav-item" href="#filesincluded">Files Included</a>
            </div>
          </div>
          <div class="nav-item">
            <a class="nav-list-item"
              ><i class="fa fa-upload"></i>Template Installation</a
            >
            <div class="sub-nav">
              <a class="sub-nav-item" href="#install-steps">Installation Steps</a>
            </div>
          </div>
          <div class="nav-item">
            <a class="nav-list-item"
              ><i class="fa fa-folder-o" href="#folder-structure"></i>Folder
              Structure</a
            >
            <div class="sub-nav">
              <a class="sub-nav-item" href="#root-folder-structure"
                >Root Folder Structure</a
              >
              <a class="sub-nav-item" href="#public-folder-structure"
                >Public Folder Structure</a
              >
              <a class="sub-nav-item" href="#src-folder-structure"
                >Src Folder Structure</a
              >
            </div>
          </div>
          <div class="nav-item">
            <a class="nav-list-item"
              ><i class="fa fa-code"></i>Code Structure</a
            >
            <div class="sub-nav">
              <a class="sub-nav-item" href="#layout-structure"
                >Layout Structure</a
              >
              <a class="sub-nav-item" href="#component-structure"
                >Component Structure</a
              >
            </div>
          </div>
          <div class="nav-item">
            <a class="nav-list-item"><i class="fa fa-cog"></i>Customization</a>
            <div class="sub-nav">
              <a class="sub-nav-item" href="#logo-change">Change Logo</a>
            </div>
          </div>
        </div>
      </div>

      <!-- content area -->
      <div class="content-wrapper" id="content">
        <div class="doc-hero-wrap">
          <div class="hero-wrap-inner">
            <h2 class="title">Paito - reactjs admin template</h2>
          </div>
        </div>

        <div class="need-support">
          <a href="https://tortoizthemes.com/contact/" target="_blank"
            ><i class="fa fa-support"></i>Need Support</a
          >
        </div>

        <!-- Getting start -->
        <div class="content-section" id="introduction" style="display: block;">
          <h3>Introduction</h3>
          <h5>Template Name: Paito - reactjs admin template</h5>
          Thank you very much for choosing our template. We truly appreciate and
          really hope that you'll enjoy our template! <br />
          <strong
            >If you like this template, Please support us by rating us 5
            stars..</strong
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i
          ><i class="fa fa-star"></i><i class="fa fa-star"></i
          ><i class="fa fa-star"></i><i class="fa fa-star"></i><br /><br />

          <p>
            Paito - Reactjs Admin Template is a perfect React
            template for digital currency exchange and commercial websites. It
            is perfect for everyone who needs a quick and efficient solution to
            start online crypto-currency business. With Paito 
            Template, you can make your business life a whole lot simpler. It is
            built based on Bootstrap 4 Latest Version. This React template is
            fully compatible for all major browsers, such as Firefox, Safari,
            Chrome, and Internet Explorer 11+.
          </p>

          <ul>
            <li>By: Tortoizthemes</li>
            <li>
              URL:
              <a target="_blank" href="https://tortoizthemes.com/"
                >https://tortoizthemes.com/</a
              >
            </li>
            <li>
              HelpDesk:
              <a target="_blank" href="https://tortoizthemes.com/contact/"
                >https://tortoizthemes.com/contact/</a
              >
            </li>
          </ul>
          <h3>Template features</h3>
          <ul>
            <li>Build on React Platform (v16.13.1)</li>
            <li>React Hooks Used</li>
            <li>No jQuery dependency</li>
            <li>Using Functional Components</li>
            <li>Build with React-Bootstrap 4</li>
            <li>Using Fontawesome-icons</li>
            <li>Google font include</li>
            <li>Fully Responsive Design</li>
            <li>W3C Validated Code</li>
            <li>Clean Code</li>
            <li>Speed Optimized</li>
            <li>Cross Browser Support</li>
            <li>Well Documented</li>
            <li>No console error</li>
            <li>Free Updates</li>
            <li>Netlify Deploy Ready</li>
          </ul>
          <h5>Need Support?</h5>
          If you have any questions regarding to theme issues, please submit a
          ticket at
          <a href="https://tortoizthemes.com/contact/" target="_blank"
            >https://tortoizthemes.com/contact/</a
          >
        </div>
        <div class="content-section" id="filesincluded">
          <h3>Files Included</h3>
          <ul>
            <li>Documentation</li>
            <li>
              Template Files -
              <strong>(Paito-tf-react-downloadable-v1.zip)</strong>
            </li>
          </ul>
          <a
            class="popup_image"
            data-fancybox="install-file"
            href="images/installation/1.png"
            ><img src="images/installation/1.png"
          /></a>
        </div>
        <div class="content-section" id="install-steps">
          <h3>Node.js and Yarn</h3>
          <p>
            Your computer must have installed nodejs and yarn to run this
            template. You can download Node.js from
            <a href="https://nodejs.org">https://nodejs.org</a> and yarn from
            <a href="https://yarnpkg.com/lang/en/docs/install/"
              >https://yarnpkg.com/lang/en/docs/install/</a
            >
            . NPM comes bundled with Node.js
          </p>
          <br />
          <a
            class="popup_image"
            data-fancybox="install-file"
            href="images/installation/6.png"
            ><img src="images/installation/6.png"
          /></a>
          <br />
          <br />
          <br />
          <a
            class="popup_image"
            data-fancybox="install-file"
            href="images/installation/7.png"
            ><img src="images/installation/7.png"
          /></a>
          <br />
          <br />
          <h3>Install Npm Packages</h3>
          <p>
            You must have to install packages. You can do this by running
            <strong>yarn install</strong> from the root of your project to
            install all the necessary dependencies.
          </p>
          <br />
          <a
            class="popup_image"
            data-fancybox="install-file"
            href="images/installation/2.png"
            ><img src="images/installation/2.png"
          /></a>
          <br />
          <br />
          <h3>Development server</h3>
          <p>
            Run <strong>yarn start</strong> from the root of your project to
            start a dev server. Navigate to
            <a href="http://localhost:3000/">http://localhost:3000/</a>. The app
            will automatically reload if you change any of the source files.
          </p>
          <br />
          <a
            class="popup_image"
            data-fancybox="install-file"
            href="images/installation/3.png"
            ><img src="images/installation/3.png"
          /></a>
          <br />
          <br />
          <h3>Build</h3>
          <p>
            Run <strong>yarn build</strong> to build the project. The build
            artifacts will be stored in the build/ directory.
          </p>
          <br />
          <a
            class="popup_image"
            data-fancybox="install-file"
            href="images/installation/4.png"
            ><img src="images/installation/4.png"
          /></a>
          <br />
          <br />
          <h3>Eject</h3>
          <p>
            Run <strong>yarn eject</strong> If you are not satisfied with the
            default configuration. Note: this is a one-way operation. Once you
            eject, you can’t go back!
          </p>
          <br />
          <a
            class="popup_image"
            data-fancybox="install-file"
            href="images/installation/5.png"
            ><img src="images/installation/5.png"
          /></a>
          <br />
          <br />
        </div>
        <div class="content-section" id="root-folder-structure">
          <h3>Root Folder Structure</h3>
          <br />
          <br />
          <a
            class="popup_image"
            data-fancybox="install-file"
            href="images/folder-structure/1.png"
            ><img src="images/folder-structure/1.png"
          /></a>
          <br />
          <br />
        </div>
        <div class="content-section" id="public-folder-structure">
          <h3>Public Folder Structure</h3>
          <a
            class="popup_image"
            data-fancybox="install-file"
            href="images/folder-structure/2.png"
            ><img src="images/folder-structure/2.png"
          /></a>
          <br />
          <br />
        </div>
        <div class="content-section" id="src-folder-structure">
          <h3>Src Folder Structure</h3>
          <a
            class="popup_image"
            data-fancybox="install-file"
            href="images/folder-structure/3.png"
            ><img src="images/folder-structure/3.png"
          /></a>
          <br />
          <br />
        </div>
        <div class="content-section" id="layout-structure">
          <h3>Layout Structure</h3>
          <br />
          <br />
          <a
            class="popup_image"
            data-fancybox="install-file"
            href="images/code-structure/layout-structure.png"
            ><img src="images/code-structure/layout-structure.png"
          /></a>
          <br />
          <br />
        </div>
        <div class="content-section" id="component-structure">
          <h3>Component Structure</h3>
          <br />
          <br />
          <a
            class="popup_image"
            data-fancybox="install-file"
            href="images/code-structure/component-structure.png"
            ><img src="images/code-structure/component-structure.png"
          /></a>
          <br />
          <br />
        </div>
        <div class="content-section" id="logo-change">
          <h3>How to change Logo?</h3>
          <br />
          <br />
          <a
            class="popup_image"
            data-fancybox="install-file"
            href="images/customization/logo.png"
            ><img src="images/customization/logo.png"
          /></a>
          <br />
          <br />
        </div>
      </div>
    </div>
    <!-- body-wrapper -->
    <script type="text/javascript" src="assets/jquery.js"></script>
    <script type="text/javascript" src="assets/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="assets/script.js"></script>
  </body>
</html>
