<div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="200">
    <div class="card">
    <div class="card-body d-flex flex-column">

        <div class="d-flex justify-content-between mb-3">

            <div class="text-small d-flex">
                {{ with .Params.Category}}<div class="mr-2"><a href="#">{{.}}</a></div>{{end}}
                <span hidden class="text-muted">{{ .Date.Day }} {{ .Date.Month }}</span>
            </div>
            <span class="text-muted">{{ .Date.Day }} {{ .Date.Month }}</span>
            <span hidden class="badge bg-primary-alt text-primary">
                <img class="icon icon-sm bg-primary" src="/pages/assets/img/icons/interface/heart.svg" alt="heart interface icon" data-inject-svg />12
            </span>
        </div>


        <a href="{{ .Permalink }}">
        <h4>{{.Title}}</h4>
        </a>

        <p class="flex-grow-1">
            {{ if .Params.Summary }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary }}{{ end }}
        </p>
        <p><a href="{{ .Permalink }}">Read more</a></p>


        <div hidden class="d-flex align-items-center mt-3">

            {{ with .Params.PostAuthorImage }}
            <img src="{{ . }}" alt="Image" class="avatar avatar-sm">
            {{ end }}
            {{ with .Params.PostAuthor }}
            <div class="ml-1">
                <span class="text-small text-muted">By</span>
                <span class="text-small">{{.}}</span>
            </div>
            {{ end }}
        </div>

    </div>
    </div>
</div>