<footer class="pb-4 bg-primary-3 text-light" id="footer">
    <div class="container">

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- ========== Container ========== -->
      <div class="row mb-5">

        <!-- ========== Links ========== -->
        <div class="col-6 col-lg-3 col-xl-2">
          <h5>Links</h5>
          <tr>
          <a href="https://bancor.network"><img src="/bancorlogo.png" style="width:40px;height:40px;"></a>
          <a href="https://twitter.com/bancor" class="fa fa-twitter"></a>
          <a href="https://t.me/bancor" class="fa fa-telegram"></a>
          <a href="https://dune.xyz/Bancor"><img src="/dunelogo.jfif" style="width:40px;height:40px;"></a>
          </tr>
        </div>
          <!-- <ul class="nav flex-column">
            <li class="nav-item">
              <a href="https://bancor.network"><img src="/bancorlogo.png"  style="width:30px;height:30px;"></a>
            </li>
          </ul>
          <ul class="nav flex-column">
              <a href="https://twitter.com/bancor" class="fa fa-twitter"></a>
              <a href="https://t.me/bancor" class="fa fa-telegram"></a>
          </ul>
        </div> -->

         <!-- ========== Contact ========== -->
        <!-- <div class="col-6 col-lg-3 col-xl-2">
          <h5>Contact</h5>
          <ul class="list-unstyled">
          </ul>
        </div> -->


      </div>

      <!-- ========== Social Media ========== -->
      <!-- <div class="row justify-content-center mb-2">
        <div class="col-auto">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://twitter.com/bancor" class="nav-link" target="_blank">
                <img class="icon " src="/pages/assets/img/icons/social/twitter.svg" alt="twitter social icon" data-inject-svg />
              </a>
            </li>
          </ul>
        </div>
      </div> -->

      <!-- ========== Copyright ========== -->
      <div class="row justify-content-center">
        <div class="col col-md-auto text-center">
          <small class="text-muted">&copy; Bancor 2022</small>
        </div>
      </div>

    </div>
  </footer>