/* Custom CSS */

code {
    color: grey;
}
html {
    filter: invert(1) hue-rotate(180deg);
}
html {
    transition: color 300ms, background-color 300ms;
}
html img{
    filter: invert(1) hue-rotate(180deg);
}

