<div class="col-md-6 col-lg-4 d-flex">
<div class="card">

    <p>Title: {{.Title}}</p>
    <p>Summary: {{ if .Params.Summary }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary }}{{ end }}</p>
    <p>Link: <a href="{{ .Permalink }}">{{ .Permalink }}</a></p>
    <p>Author: {{.Params.Author}}</p>
    <p>Date1: {{.Date}}</p>
    <p>Date2: {{ .Date.Day }} {{ .Date.Month }} {{ .Date.Year }}</p>
    <div class='keyval keyval-templatename'><span class='key'>partial</span>:<span class='value'>blog/summary</span></div>

</div>
</div>








