<!-- ========== NO TEMPLATE     ========== -->
{{ if isset .Params "notemplate" }}
{{- block "main" . }}{{- end }}
{{- else }}
<!-- ========== TEMPLATE     ========== -->
<!DOCTYPE html>
<html lang="en-US">
    <head>
        {{- partial "leap/head.html" . -}}
        {{- partial "leap/css.html" . -}}
        {{ .Params.PageHead | safeHTML }}
        {{ with .Params.PageCSS }}
        <style>
            {{ . | safeCSS }}
        </style>
        {{ end }}
        {{ with .Params.PageJS }}
        <script>
            {{ . | safeJS }}
        </script>
        {{ end }}
    </head>
    <body>

        <div class="loader">
            <div class="loading-animation"></div>
        </div>


        <!-- ========== NAVBAR     ========== -->
        {{- if not (isset .Params "nonavbar") }}
        {{- partial "leap/navbar.html" . -}}
        {{- end }}
        <!-- ========== END NAVBAR ========== -->

        <!-- ========== MAIN CONTENT     ========== -->
        <main id="content" role="main">
            {{- block "main" . }}{{- end }}
        </main>
        <!-- ========== END MAIN CONTENT ========== -->
  


        <!-- ========== FOOTER    ========== -->
        {{- if not (isset .Params "nofooter") }}
        {{- partial "leap/footer.html" . -}}
        {{- end }}
        <!-- ========== END FOOTER ========== -->
        
        <a href="#" class="btn back-to-top btn-primary btn-round" data-smooth-scroll data-aos="fade-up" data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
            <img class="icon" src="/pages/assets/img/icons/theme/navigation/arrow-up.svg" alt="arrow-up icon" data-inject-svg />
        </a>

        <!-- ========== FOOTER SCRIPT     ========== -->
        {{ if not (isset .Params "nofooterscript") }}
        {{- partial "leap/footer_script.html" . -}}
        {{ end }}
        <!-- ========== END FOOTER SCRIPT ========== -->

        <!-- ========== FOOTER MATHJAX     ========== -->
        {{ if not (isset .Params "nofootermathjax") }}
        {{- partial "leap/footer_mathjax.html" . -}}
        {{ end }}
        <!-- ========== END FOOTER MATHJAX ========== -->

    </body>
</html>

{{- end }}
<!-- ========== END (NO)TEMPLATE ========== -->
